#  Rules
# ErrorDocument 404 /index.php
# Turn on the RewriteEngine
Options -Indexes
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L,QSA]
Header set Access-Control-Allow-Origin "*"
